.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr 3.5fr 0.4fr 0.1fr;
    gap: 20px 20px;
    grid-auto-flow: row;
    grid-template-areas:
        "Chat-Screen-Heading"
        "Question-And-Answer-Display-Area"
        "Question-Input-Area"
        "Footer";
}

.Question-Input-Area {
    grid-area: Question-Input-Area;
}

.Chat-Screen-Heading {
    grid-area: Chat-Screen-Heading;
}

.Question-And-Answer-Display-Area {
    grid-area: Question-And-Answer-Display-Area;
}

.Footer {
    grid-area: Footer;
}

.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
    font-weight: bold !important;
}